<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FEDevice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C5AF67A71C3AA45B007B5C6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5AF67C01C3AA45C007B5C6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5AF67CB1C3AA45C007B5C6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
